

/* Color Palette */
/* 

#EAECF0
#FE7F2D
#233D4D
#000000

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akt:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

body {
    background-color: rgb(40, 40, 40);
    font-family: 'Amiro';
}
nav {
    width: 100%;
    height: 50px;
    background-color: #161616;
    color: #eee;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.518);   */
    border-bottom: 1px solid rgb(53, 53, 53);
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav img {
    width: 50px;
    cursor: pointer;
}

nav .nav-elements ul {
    list-style: none;
}

nav .nav-elements ul li {
    display: inline-block;
}

nav .nav-elements li a{
    padding: 0 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
}

nav #menu {
    width: 40px;
    display: none;
}

#highlight {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(40, 40, 40));
}

.active {
    font-weight: 700;
    color: #eee;
}

#highlight::before {
    width: 100%;
    height: auto;
    content: "";
    position: absolute;
    inset: 0;
    background: url(My\ Profile.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -400px;
    opacity: 0.5;
    z-index: -1;
}

#highlight h2 {
    font-size: 18px;
    letter-spacing: -1px;
    padding-left: 40px;
    color: #eee;
}

.highlight_card {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
}

.highlight_card h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 5px;
}

.highlight_card h1 a{
    color: #eee;
    text-decoration: none;
    transition: .2s ease;
}

.highlight_card p {
    font-size: 12px;
    color: #eee;
}

.highlight_card .basic_info button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #eee;
    color: #161616;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s ease;
}

.highlight_card .basic_info button:hover {
    background-color: rgb(176, 176, 176);
}

.highlight_card .description {
    font-size: 12px;
    max-width: 500px;
    margin-top: 20px;
    color: #eee;
    letter-spacing: 0;
    line-height: 17px;
}

.highlight_card .status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0;
    padding-right: 50px;
}

.highlight_card .status h1 {
    font-size: 32px;
    cursor: pointer;
    text-align: right;
    color: #eee;
}

#hero {
    width: 100%;
    height: auto;
    padding: 30px 90px;
    padding-top: 50px;
    background-color: rgb(40, 40, 40); 
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}

.main h1 {
    font-size: 50px;
    letter-spacing: -3px;
}

.main h2 {
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 300;
}

#official {
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
    padding: 40px 80px;
    color: #eee;
}

.main-wrap {
    display: flex;
    gap: 20px;
}

.wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.188);
    border-radius: 10px;
}

.wrap h2 {
    font-size: 24px;
}

.post-container {
    margin-top: 20px;
    max-width: 100%;
    /* background-color: rgba(162, 162, 162, 0.122); */
    padding: 0px;
    padding-right: 40px;
    border-radius: 4px;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.188); */
}

.information-end {
    font-size: 10px;
    margin-top: 18px;
    color: gray;
    max-width: 800px;
    text-align: left;
}

.post-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-id h3 {
    font-size: 15px;
}

.post-id p {
    font-size: 11px;
    color: gray;
    margin-top: 2px;
}

.post-message .date {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 10px;
    color: rgba(128, 128, 128, 0.736);
}

.date span {
    color: rgb(0, 153, 255);
    font-weight: 700;
}

.post-message {
    margin-top: 15px;
    max-width: 100%;
}

.post-message p{
    font-size: 12px;
    white-space: pre-wrap;
}

.main-id {
    display: flex;
    gap: 5px;
}

.post-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-inner-id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.new-icon {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: white;
}

.post-inner-id .profile-pic-post {
    width: 30px;
    height: 100%;
    border-radius: 50%;
}

.post-inner-id span {
    font-size: 8px;
    margin-top: 5px;
    color: rgb(96, 136, 237);
    font-weight: 800;
}

.post-id .post-links {
    width: fit-content;
}

.post-links a{
    font-size: 12px;
    color: #eee;
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

.post-links a img {
    width: 20px;
}

.post-links a:hover {
    text-decoration: none;
}

.post-id img {
    width: 13px;
}

.side-wrap {
    width: 100%;
    /* background-color: rgb(224, 224, 224); */
}

.release-details-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.release-details {
    margin-top: 20px;
}

.release-details h2 {
    font-size: 30px;
    letter-spacing: -1px;
}

.release-details button {
    padding: 8px 15px;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgba(85, 84, 84, 0.866);
    color: #eee;
    margin-top: 10px;
    cursor: pointer;
}

.release-details button:hover {
    background-color: rgba(74, 73, 73, 0.866);
}

.title-release .release-description {
    max-width: 700px;
    white-space: pre-wrap;
    color: #eee;
    font-size: 15px;
    line-height: 22px;
}

.title-release p {
    font-size: 13px;
    color: gray;
    margin-top: 3px;
}

.side-wrap {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.177);
    border-radius: 10px;   
}

.side-inner .release-details-main iframe {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 6px;
    aspect-ratio: 16/9;
    display: block;
}

#moreText {
    display: none;
}

#dots {
    display: inline;
}

#btnText {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.81);
    font-size: 15px;
    padding: 0 5px;
    font-weight: 600;
}

#btnText:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    
}

.foot img {
    width: 50px;
    opacity: 50%;
}

.foot {
    width: 100%;
    height: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    font-size: 12px;
    font-weight: 300;
    background-color: black;
}

.foot p {
    text-align: right;
    opacity: 60%;
}

.alert-message {
    display: none;
    width: 100%;
    height: auto;
    font-size: 10px;
    text-align: center;
    background-color: rgb(1, 54, 140);
    padding: 3px 0;
    color: #eee;
    font-weight: 600;
}

.seeall {
    width: fit-content;
    padding: 7px 17px;
    background-color: rgba(85, 84, 84, 0.866);
    border: none;
    color: #eee;
    border-radius: 40px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}

.seeall:hover {
    background-color: rgba(73, 73, 73, 0.866);
}

.foot-holder {
    width: 100%;
    height: auto;
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: #eee;
}

.foot-holder .foot-up {
    width: 100%;
    height: auto;
    padding: 0 40px;
    background-color: transparent;
}

.foot-up img {
    width: 90px;
    opacity: .5;
}

.foot-low {
    width: 100%;
    height: auto;
    display: flex;
}

.foot-low p {
    font-size: 10px;
    opacity: .5;
    padding-bottom: 20px;
    font-weight: 300;
}

.icon-holder-foot {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.icon-holder-foot a{
    color: #eee;
    text-decoration: none;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.446);
    transition: .2s ease;
}

.icon-holder-foot a:hover {
    color: #eee;
    text-decoration: underline;
}

.foot2 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    gap: 180px;
}

.foot2 .foot-category {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.foot-category ul {
    list-style: none;
}

.foot-category p{
    font-size: 30px;
    letter-spacing: -1px;
    padding-top: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.661);
}

.foot-category ul li {
    padding: 2px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.661);
}

.foot-category ul li a{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.417);
    text-decoration: none;
    transition: .2s ease;
}

.foot-category li a:hover{
    color: #eee;
}

#section-3 {
    width: 100%;
    height: auto;
}

.section-3-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    padding: 40px;
}

.whatcards-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
    max-width: 1000px;
    overflow: hidden;
}

.whatcards {
    min-width: 300px;
    height: 200px;
    background-color: #2f2f2f;
    border-radius: 10px;
    border: 1px solid #3a3a3a;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whatcards h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.whatcards p {
    font-size: 12px;
    max-width: 250px;
    text-align: center;
    color: rgb(177, 176, 176);
    margin-bottom: 10px;
}

#video-cards {
    width: 100%;
    height: auto;
    padding: 20px 80px;
}

#video-cards h1 {
    color: #eee;
}

.video-cards-inner {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 15px 20px;
    border: 1px solid #eeeeee54;
    border-radius: 10px;
    color: #eee;
}

.video-cards-inner h2 {
    display: flex;
    gap: 7px;
    align-items: center;
}

.video-cards-inner h2 img {
    width: 20px;
}

.video-cards-holder {
    width: 100%;
    min-width: 0;
    height: auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
}

.video-card .card-artist {
    display: flex;
    gap: 4px;
    align-items: center;
}

.video-card .card-artist img {
    width: 12px;
}

.video-card {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.video-card h3 {
    font-size: 15px;
    padding-top: 5px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-card p {
    font-size: 12px;
    color: #eeeeeec3;
}

.video-card iframe {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 16 / 9;
    height: auto;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    pointer-events: none;
}

.video-card:hover iframe {
    pointer-events: auto;
}

.more-videos-video-card {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.more-videos-video-card a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    text-decoration: none;
}

.more-videos-video-card svg {
    transition: .2s ease;
}

.more-videos-video-card a:hover svg {
    transform: translateX(5px);
}

.video-cards-head-holder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(
        to right,
            rgba(236, 235, 235, 0.116),
            rgba(226, 226, 226, 0.225),
            rgba(236, 235, 235, 0.118)
    );
    border-radius: 10px;
}

.video-cards-head-right button {
    padding: 9px 16px;
    border: none;
    border-radius: 40px;
    font-size: 13px;
    cursor: pointer;
}

#notice-board {
    width: 100%;
    height: auto;
    padding: 20px 80px;
    background-color: rgb(40, 40, 40);
}

.notice-holder {
    padding: 30px 40px;
    border: 1px solid rgba(255, 255, 255, 0.148);
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(40, 40, 40));
    position: relative;
    color: #eee;
    justify-content: space-between;
}

.notice-holder h2 {
    font-size: 15px;
}

.notice-holder h1 {
    font-size: 34px;
    letter-spacing: -2px;
    margin-top: 12px;
}

.notice-holder p {
    font-size: 13px;
    margin-top: 5px;

}

.notice-holder::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
            to left,
            rgba(40, 40, 40, 0.244),
            rgb(40, 40, 40)
        ),
        url("download\ \(88\).jpg");
    background-size: cover;
    background-position: center;
    z-index: 0;
    border-radius: 10px;
    opacity: 70%;

    filter: grayscale(100%);
}

.notice-holder > * {
    position: relative;
    z-index: 1;
}

.notice-holder .notice-para {
    max-width: 400px;
    font-size: 10px;
    margin-top: 10px;
}

@media (max-width: 450px) {
    .video-cards-head-holder {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media (max-width: 900px) {
    .video-cards-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .video-cards-holder {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 670px) {
    .notice-holder {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .notice-holder .notice-right p{
        font-weight: 800;
    }
}

@media (max-width: 750px) {
    #notice-board {
        padding: 20px 30px;
    }

    nav #nav_elements{
        display: flex;
    }

    nav .nav-elements ul {
        margin-top: 200px;
        background-color: #eee;
        width: 100%;
    }

    nav .nav-elements ul li {
        display: none;
    }

    .alert-message {
        display: block;
    }

    .highlight_card {
        flex-direction: column;
        gap: 40px;
    }

    .highlight_card .status {
        align-items: flex-start;
    }

    .highlight_card .status h1 {
        text-align: left;
    }

    .post-id {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .post-links {
        display: none;
    }

    #highlight {
        padding: 30px 0;
    }

    #hero {
        padding: 30px 0;
    }

    #official {
        padding: 30px 30px;
    }

    #video-cards {
        padding: 30px 30px;
    }

    .video-cards-holder {
        gap: 40px;
    }

    .video-cards-inner {
        padding-top: 20px;
        overflow: hidden;
    }

    footer {
        height: auto;
    }

    .foot {
        flex-direction: column;
        padding: auto 40px;
    }

    .foot p {
        text-align: center;
    }

    nav {
        justify-content: center;
        position: static;
    }

    .title-release h2 {
        font-size: 36px;
    }

    .title-release p {
        font-size: 20px;        
    }

    .title-release .release-description {
        font-size: 15px;
        text-align: left;
    }
}

@media (max-width: 1250px) {
    .main-wrap {
        flex-direction: column;
        gap: 70px;
    }

    .side-inner .release-details-main img {
        max-width: 100%;
    }

    .title-release .release-description {
        max-width: 100%;
    }
}

@media(max-width: 830px) {
    .foot-holder {
        flex-direction: column;
        align-items: flex-start;
    }   

    .foot2 {
        flex-direction: column;
        gap: 30px;
    }
}
